.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid rgb(29, 29, 110);
  padding: 1rem 0;
}

.details {
  text-align: center;
  flex-basis: 50%;
}

.details h2 {
  margin: 0 0 0.5rem 0;
  color: rgb(29, 29, 110);
}

.image img {
  max-height: 10rem;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price {
  font-weight: bold;
  color: rgb(29, 29, 110);
  margin: 0.5rem;
}

.amount {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: rgb(29, 29, 110);
  margin: 0.25rem;
}

.actions {
  display: flex;
  flex-direction: row;
}

@media (min-width: 768px) {
  .cart-item {
    flex-direction: row;
  }
}

.cart-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: rgb(29, 29, 110);
  border: 1px solid rgb(29, 29, 110);
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin: 0.25rem;
}

.cart-item button:hover,
.cart-item button:active {
  background-color: rgb(29, 29, 110);
  color: white;
}
