.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  margin: 0 2rem;
  animation: appear 1s ease-out forwards;
}

.loading {
  text-align: center;
  color: rgb(29, 29, 110);
}

.error {
  text-align: center;
  color: red;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
