.wishlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-top: 2px solid rgb(29, 29, 110);
  padding: 1rem 0;
}

.wishlist-item h2 {
  margin: 0 0 0.5rem 0;
  color: rgb(29, 29, 110);
}

.image img {
  max-height: 10rem;
}

.details {
  text-align: center;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price {
  font-weight: bold;
  color: rgb(29, 29, 110);
  margin: 0 1rem;
}

@media (min-width: 768px) {
  .wishlist-item {
    flex-direction: row;
  }
}

.wishlist-item button {
  font: inherit;
  font-weight: bold;
  font-size: 1rem;
  color: rgb(29, 29, 110);
  border: 1px solid rgb(29, 29, 110);
  width: 5rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
}

.wishlist-item button:hover,
.wishlist-item button:active {
  background-color: rgb(29, 29, 110);
  color: white;
}
