.header {
  background-color: rgb(29, 29, 110);
  margin: 0 0 2rem 0;
  padding: 0;
}

.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.header li {
  text-decoration: none;
  list-style: none;
}
