.header {
  background-color: red;
  margin: 0;
  padding: 0;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.header li {
  text-decoration: none;
  list-style: none;
}
